<form action="<%=notes_url%>" method="POST">
  <label for="note_content">Leave a note on this track!</label>
  <textarea id="note_content"><%=@note.content%></textarea>
  <input type="submit" value="Leave note">
</form>
