<h1> <%= @track.title %> </h1>
<%= "from #{@track.album.title}" %>
<% if @track.lyrics %>
<br>
<br>
Lyrics:
<%= @track.lyrics %>
<% end %>
<br><br>
<a href="<%=album_url(@track.album_id)%>">Back to album page</a>
