<h1> <%= "Collected works of #{@band.name}" %> </h1>

<% @band.albums.each do |album| %>
<a href="<%=album_url(album.id)%>"> <%= album.title %> </a>
<br>
<% end %>
<br>
<a href="<%= new_band_album_url(@band.id) %>">Add new album!</a>
